@media only screen and (max-width: 991px){
  	.adv{
      	display: none;
  	}
  	.quangcao{
      	display: none;
  	}
}

.container{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #f1f1f1;
}

/*body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #f1f1f1;
}*/

.slide{
	width: 100%;
}

.HeadBar{
	color: white;
}



.zoom img{
  transition: all 0.3s;
  width: 100%;
}

.zoombig{
  overflow: hidden;
}

.zoombig:hover img{
  transform: scale(1.08);
}

.nav-item{
    font-size: 13px;
}
.nav-item:hover{
	color: black;
	border-radius: 5px;
}

.dropdown:hover>.dropdown-menu {
	
  	display: block;
}
nav{

	background-color: #BED5D8;
}

nav a{
	color: white;
}

body a{
	color: #004175;
}

.card{
	width: 100%;
	height: 300px;
	background-color: red;

}

.Body1{
	border-width: 1px;
	border-color: #eaeae8;
	border-style: solid;
	border-radius: 5px;
	height: 550px;
}

.Body1 .title{
	font-size: 24px;
}

.bound{

	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.scroll1{
	border-width: 1px;
	border-style: solid;
	border-color: #eaeae8;
	height:550px;
  	overflow-y: scroll;
	border-radius: 5px;
}

.tb1{
	border-width: 1px;
	border-style: solid;
	border-color: #eaeae8;
	border-radius: 5px;

}

.nav-tabs .active{
	background-color: #2FA1B3;

}

.quangcao{
	border-width: 1px;
	border-style: solid;
	border-color: #eaeae8;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.comment{
	font-size: 14px;
	line-height: 22px;
	color: #1b1f22;
}